@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

h1, h2 {
  color: green;
  font-family: "Nanum Pen Script" , Arial, serif;
  font-size: 25px;
}

strong,em {
  color: blue;
  font-weight: bold;
  font-family: "Noto Sans KR" , Arial, serif;
  font-size: 25px;
}

ul.ul_menu {
  color: red;
  font-weight: bold;
  font-size: 18px;
  font-family: "Nanum Brush Script", cursive;
}
