#div_header1 {
  background-color: red;
  width: 100%;
  height: 30px;
}
#div_header2 {
  background-color: yellow;
  width: 100%;
  height: 60px;
}

#article_1 {
  float: left;
  background-color: silver;
  width: 50%;
  height: 400px;
}

#article_2 {
  float: right;
  background-color: aqua;
  width: 50%;
  height: 400px;
}

#article_3 {
  float: left;
  background-color: green;
  width: 50%;
  height: 400px;
}

#article_4 {
  float: right;
  background-color: purple;
  width: 50%;
  height: 400px;
}

#footer_1 {
  clear: both;
  background-color: blue;
  width: 100%;
  height: 30px;
}
