/* table{
  border-collapse: collapse;
  background-color: green;
}

td,th {
  border: 1px solid white;
  color: white;
} */

table {
  border-collapse: collapse;
  width: 30%;
  margin: 0 auto 0 auto;
}

caption {
  border: 1px solid black;
  caption-side: bottom;
}

td, th {
  border: 1px solid black;
  height: 50px;
}

th {
  background-color: green;
  color: white;
}

td {
  text-align: center;
}

/* td#td-bottom {
  vertical-align: bottom;
} */
