ul {
  text-align: center;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding: 20px;
}

ul li{
  display: inline-block;
  width: 200px;
  letter-spacing: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

ul li:hover{
  display: inline-block;
  width: 200px;
  letter-spacing: 15px;
  padding-left: 10px;
  background-color: silver;
}

a.a_menu {
  color: black;
  text-decoration: none;
}

a.a_menu:hover {
  color: blue;
  font-weight: bold;
}

a.a_menu:active {
  color: red;
  font-weight: bold;
}
