@charset "utf-8";

/* COMMON */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
ul, ol {list-style: none;}
a {text-decoration: none;color: #000;}
button {cursor: pointer;}
.blind{position:absolute;overflow:hidden;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Fira Sans Bold Italic'),
    local('FiraSans-BoldItalic'),
    url(https://ssl.pstatic.net/adimg3.search/o/font/FiraSans-BoldItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Fira Sans Bold'),
    local('FiraSans-Bold'),
    url(https://ssl.pstatic.net/adimg3.search/o/font/FiraSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Medium'),
    local('FiraSans-Medium'),
    url(https://ssl.pstatic.net/adimg3.search/o/font/FiraSans-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Regular'),
    local('FiraSans-Regular'),
    url(https://ssl.pstatic.net/adimg3.search/o/font/FiraSans-Regular.ttf) format('truetype');
}

.ad_shopping_contents {
    position: relative;
    overflow: hidden;
    font-family: AppleSDGothicNeo-Regular,sans-serif;
    font-family: HelveticaNeue, AppleSDGothicNeo-Regular,sans-serif;
    background-color: #fff;
    box-sizing: border-box;
}
.ad_shopping_contents .point {
    color: #f15453;
}
.ad_shopping_contents .icon_ad,
.ad_shopping_contents .icon_best,
.ad_shopping_contents .icon_more:after,
.ad_shopping_contents .icon_crown,
.ad_shopping_contents .icon_arrow,
.ad_shopping_contents .icon_move,
.ad_shopping_contents .store_type:before,
.ad_shopping_contents .icon_cart:before,
.ad_shopping_contents .icon_review:before {
    background: url("../img/sp_service_shopping_search.png") no-repeat;
    background-size: 107px auto;
}
.ad_shopping_contents .cont_header {
    position: relative;
    padding: 17px 58px 12px 16px;
}

.ad_shopping_contents .cont_header .icon_ad {
    position: absolute;
    top: 18px;
    right: 16px;
    width: 26px;
    height: 16px;
    background-position: -15px -25px;
}
.ad_shopping_contents .title_area {
    display: inline-block;
    max-width: 100%;
    font-weight: 500;
    line-height: 21px;
    vertical-align: top;
}
.ad_shopping_contents .title_area .count {
    float: right;
    margin-left: 5px;
    line-height: 20px;
    font-size: 17px;
    font-weight:500;
    color: #00c400;
    letter-spacing:-0.5px;
}
.ad_shopping_contents .title_area .title {
    overflow: hidden;
    font-size: 16px;
    color: #424242;
    letter-spacing: -0.4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ad_shopping_contents .cont_list.rolling {
    overflow: hidden;
    width: 100%;
}
.ad_shopping_contents .cont_list.rolling .cont_container {
    width: 100%;
    white-space: nowrap;
    font-size: 0;
}
.ad_shopping_contents .cont_list.rolling .info {
    white-space: normal;
}
.ad_shopping_contents .cont_list .cont_section {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    box-sizing: border-box;
    padding: 0;
}
.ad_shopping_contents .cont_list .flick_container {
    font-size: 0;
    white-space: nowrap;
}
.ad_shopping_contents .cont_list .flick_panel {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
}
.ad_shopping_contents .cont_list a {
    display: block;
}
.ad_shopping_contents .cont_area .thumb {
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}
.ad_shopping_contents .cont_area .thumb .item_image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.ad_shopping_contents .cont_area .thumb:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    background-color: rgba(0,0,0,.03);
    content: '';
}
.ad_shopping_contents .cont_list .item_name {
    overflow: hidden;
    letter-spacing: -0.3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ad_shopping_contents .cont_list .item_name.double_line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    color: #000;
    line-height: 18px;
    max-height: 36px;
}
.ad_shopping_contents .cont_area .price {
    display: block;
    line-height: 17px;
}
.ad_shopping_contents .cont_area .price_point {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
.ad_shopping_contents .cont_list .store_wrap {
    display: inline-block;
    max-width: 100%;
    margin-top: 3px;
    font-size: 14px;
    line-height: 17px;
    vertical-align: top;
}
.ad_shopping_contents .cont_list .store_type {
    float: right;
    margin-left: 5px;
}
.ad_shopping_contents .cont_list .store_type:before {
    content: '';
    display: inline-block;
    width: 45px;
    height: 14px;
    margin-top: -1px;
    background-position: 0 -200px;
    vertical-align: top;
}
.ad_shopping_contents .cont_list .store_name {
    display: block;
    overflow: hidden;
    color: #8f8f8f;
    letter-spacing: -0.4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ad_shopping_contents .cont_list .count_wrap {
    margin-top: 3px;
}
.ad_shopping_contents .cont_list .count_wrap .ico {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #999;
}
.ad_shopping_contents .cont_list .count_wrap .ico + .ico {
    position: relative;
    margin-left: 5px;
    padding-left: 8px;
}
.ad_shopping_contents .cont_list .count_wrap .ico + .ico:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 9px;
    margin: auto 0;
    background-color: #e6e6e6;
}
.ad_shopping_contents .cont_list .count_wrap .icon_cart:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 2px 3px 0 0;
    background-position: -15px -135px;
    vertical-align: top;
}
.ad_shopping_contents .cont_list .count_wrap .icon_review:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 13px;
    margin: 3px 4px 0 0;
    background-position: -34px -135px;
    vertical-align: top;
}
.ad_shopping_contents .cont_area .rank {
    font-style: normal;
}
.ad_shopping_contents .cont_area .icon_best {
    background-position: -15px 0;
    width: 36px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.ad_shopping_contents .cont_area_v2 {
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.ad_shopping_contents .button_area {
    text-align: center;
    padding: 0 15px 15px;
    position: relative;
}
.ad_shopping_contents .button_area .dots {
    line-height: 25px;
}
.ad_shopping_contents .button_area .icon_dot {
    display: inline-block;
    background-color: #ddd;
    border-radius: 3px;
    width: 6px;
    height: 6px;
    vertical-align: middle;
}
.ad_shopping_contents .button_area .icon_dot + .icon_dot {
    margin-left: 5px;
}
.ad_shopping_contents .button_area .icon_dot.current {
    width: 20px;
    background-color: #222;
}
.ad_shopping_contents .button_area .icon_move {
    width: 28px;
    height: 25px;
    border: none;
    position: absolute;
    top: 0;
}
.ad_shopping_contents .button_area .icon_move.prev {
    background-position: -55px -30px;
    left: 15px;
}
.ad_shopping_contents .button_area .icon_move.next {
    background-position: -55px 0;
    right: 15px;
}
.ad_shopping_contents .page_area {
    margin:0 16px;
    font-size:0;
    text-align: center;
}
.ad_shopping_contents .page_item {
    display:inline-block;
    width: 5px;
    height: 5px;
    margin: 14px 4px 14px 5px;
    border-radius: 50%;
    border: solid 1px #d5d9dc;
    background-color: #dee2e8;
    vertical-align: top;
}
.ad_shopping_contents .page_item.on {
    border-color:#00b110;
    background-color: #07bf17;
}

/* 해상도 따라 변경 */
.ad_shopping_contents .cont_list.reactive {
    overflow: hidden;
    margin: 0 9px;
    padding-bottom: 16px;
}
.ad_shopping_contents .cont_list.reactive.item_image {
   margin-bottom: 7px;
}
.ad_shopping_contents .cont_list.reactive .cont_container {
    max-width: 680px;
    font-size: 0;
    margin: 0 auto;
}
.ad_shopping_contents .cont_list.reactive .cont_area {
    max-width: 150px;
    margin: 0 auto;
    padding: 0 6%;
}
.ad_shopping_contents .cont_list.reactive .cont_area .thumb {
    position: relative;
    padding-top: 100%;
}
.ad_shopping_contents .cont_area .thumb .item_label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 18px;
    padding: 0 7px;
    background-color: #f15453;
    border-radius: 3px 0 4px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    letter-spacing: -0.11px;
    white-space: nowrap;
}
.ad_shopping_contents .cont_area .thumb .item_label.type_official {
    background-color: #7da3f4;
}
.ad_shopping_contents .cont_area .thumb .item_label .number {
    margin-right: -2px;
    padding-left: 2px;
    font-size: 11px;
    letter-spacing: -0.12px;
}
.ad_shopping_contents .cont_list.reactive .cont_area .info .item_name {
    font-size: 14px;
    letter-spacing: -0.37px;
}
/* 상품 단일형 */
.ad_shopping_contents .cont_list.item_card {
    overflow: hidden;
    width: 100%;
}
.ad_shopping_contents .cont_list.item_card .cont_container {
    width: 100%;
    font-size: 0;
    white-space: nowrap;
}
.ad_shopping_contents .cont_list.item_card .cont_section {
    width: 100%;
    height: 110px;
    padding: 0 16px;
 }
.ad_shopping_contents .cont_list.item_card .cont_area {

}
.ad_shopping_contents .cont_list.item_card .cont_area{
    line-height: 20px;
}
.ad_shopping_contents .cont_list.item_card .cont_area .thumb {
    float: right;
    width: 108px;
    height: 108px;
}
.ad_shopping_contents .cont_list.item_card .cont_area .item_image {width:100%;}
.ad_shopping_contents .cont_list.item_card .cont_area .info {
    overflow:hidden;
    padding-right: 26px;
}
.ad_shopping_contents .cont_list.item_card .cont_area .info .item_name.double_line {
    margin-top: -1px;
    max-height: 44px;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #000;
}
.ad_shopping_contents .cont_list.item_card .cont_area .info .price {
    margin-top: 3px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: normal;
}

/* 상품형 1단 */
.ad_shopping_contents .cont_list.item_one .cont_container {
    text-align: center;
}
.ad_shopping_contents .cont_list.item_one .cont_area .info {
    margin-top: 10px;
    text-align: left;
}
.ad_shopping_contents .cont_list.item_one .cont_area .info .price {
    margin-top: 4px;
    font-size: 14px;
}
.ad_shopping_contents .cont_list.reactive ~ .page_area {
    margin-top: -18px;
}
/* 키워드형 1단 */
.ad_shopping_contents .cont_list.keyword_one .cont_area .info {
    margin-top: 10px;
}

/* 갤럭시 폴드대응 */
@media screen and (max-width: 250px){
    .ad_shopping_contents .cont_list.item_card .cont_area .thumb {
        width: 90px;
        height: 90px;
    }
    .ad_shopping_contents .cont_list.item_card .count_wrap {
        white-space: nowrap;
    }
    .ad_shopping_contents .cont_list.item_one .cont_area .info .price {
        white-space: normal;
        word-break: break-all;
    }
}
